<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <body>
    <h1>Changelog</h1>

    <%- @changelog.releases.each do |release| -%>
      <h2>Release <%= release %></h2>

      <ul>
        <%- %w(added changed fixed).each do |prefix| -%>
          <%- release.each_commit(prefix) do |commit| -%>
            <li>
              <span class="<%= prefix %>"><%= prefix.to_s.upcase %></span>
              <%= commit %>
            </li>
          <%- end -%>
        <%- end -%>
      </ul>
    <%- end -%>
  </body>
</html>
