<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <body>
    <h1>Changelog</h1>

    <% changelog.releases.each do |release| %>
      <h2><%= release %></h2>

      <ul>
        <% release.commits.each do |commit| %>
          <% unless commit.message.blank? %>
            <li><%= commit %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </body>
</html>
