<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <body>
    <h1>Changelog</h1>

    <%- @changelog.releases.each do |release| -%>
      <h2><%= release %></h2>

      <ul>
        <%- release.each_commit do |commit| -%>
          <li><%= commit %></li>
        <%- end -%>
      </ul>
    <%- end -%>
  </body>
</html>
